version: '3.9'

services:
  qdrant:
    image: qdrant/qdrant:latest
    restart: always
    container_name: qdrant
    ports:
      - 6333:6333
      - 6334:6334
    volumes:
      - qdrant_data:/qdrant/storage

  ollama:
    image: ollama/ollama:latest
    restart: always
    container_name: ollama
    ports:
      - 11434:11434
    volumes:
      - C:\Users\kulikovMA\.ollama\models:/root/.ollama/models
    environment:
      HTTP_PROXY: ""
      HTTPS_PROXY: ""

  redis:
    image: redis:latest
    container_name: semantic_app
    restart: unless-stopped
    ports:
      - 6379:6379
    depends_on:
      - qdrant
      - ollama
    volumes:
      - redis_data:/data

volumes:
  qdrant_data:
  ollama_data:
  redis_data:
